VITE_SUPABASE_URL=https://zyufqppxtneuqhfjbyig.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp5dWZxcHB4dG5ldXFoZmpieWlnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTU0OTIzOTksImV4cCI6MjA3MTA2ODM5OX0.K4yEl21_iE_0NtVuCCUxTKbszSJwSFzl9Dw3TRbNGDE